@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: url(assets/0.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;

    font-family: "Oswald", sans-serif;

    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.text {
    font-size: 40px;
    font-weight: 400;
}

.time {
    font-size: 80px;
    font-weight: 600;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    max-width: 50%;
    padding: 15px;

    background-color: rgba(255, 254, 254, 0.4);
    border-radius: 30px;
}
